.thead>tr>th{
    padding: 0.4rem;
}
.CTARow{
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}

.CTARow>input{
    width: 30%;
    padding: 0.5rem;
    outline: none;
    border-radius: 3px;
    border: 1px solid grey;
}

.CTARow>input:focus{
    border: 1px solid rgb(3, 247, 3);
}
.addNewUserBUtn{
    background-color:rgb(2, 84, 167);
    padding: 0.5rem;
    border-radius: 3px;
    text-decoration: none;
    color:white;
    cursor: pointer;
}
table{
    width: 100%;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

#editbtn,#deletebtn{
    padding: 0.5rem;
    margin: 0.4rem auto;
    width: 50%;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    font-family: 'Carter One', cursive;
}

#editbtn{
    width: 60%;
    background-color: green;
    text-decoration: none;
    color: black;
}
#deletebtn{
    background-color: red;
}